<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>بلاگ</title>

    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous"></head>

<body>

{% embed "header.twig" %}
{% endembed %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h1 class="pb-3 mb-4 border-bottom">
                وبلاگ
            </h1>

            {% for post in posts %}

            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.getTitle }}</h2>
                {{ post.getText }}
                </div>
            <br>
            {%  endfor %}

        </div><!-- /.blog-main -->

        <div class="p-3">
            <h4 class="font-italic">جاهای دیگر</h4>
            <ol class="list-unstyled">
                <li><a href="https://twitter.com/sansorchi">توییتر</a></li>
                <li><a href="https://github.com/kamiyabta">گیتهاب</a></li>
            </ol>
        </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

</body>
</html>
