<html>
<head>
    <title>ویرایش نمایه</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <style>
        .edit-form {
            width: 500px;
            margin: 50px auto;
        }
        .edit-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .edit-form h2 {
            margin: 0 0 15px;
        }

        ::-webkit-input-placeholder { text-align:right; }
    </style>
</head>
<body>
{% embed 'header.twig' %}
{% endembed %}

{% if errors['name_char'] == true %}
    <div dir="rtl" class="alert alert-danger" role="alert">
        نام نباید بیش از ۱۰۰ کارکتر داشته باشد!
    </div>
{% endif %}
{% if errors['bio_char'] == true %}
    <div dir="rtl" class="alert alert-danger" role="alert">
        بیو نباید بیش از ۳۰۰ کارکتر داشته باشد!
    </div>
{% endif %}


<div class="edit-form">
    {{ form_start(form) }}
        <h2 class="text-center">ویرایش نمایه</h2>
        <div class="form-group">
            {{ form_widget(form.name, {'value':name, 'attr':{'class':'form-control', 'placeholder':'نام', 'dir':'rtl'} }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.bio, {'value':bio, 'attr':{'class':'form-control', 'placeholder':'بیو', 'dir':'rtl'} }) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.edit, {'label':'ویرایش','attr':{'class':'btn btn-primary btn-block'} }) }}
        </div>
    {{ form_end(form) }}
</div>
</body>
</html>