<html>
<head>
    <title>ورود به حساب کاربری</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 50px auto;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {
            font-size: 15px;
            font-weight: bold;
        }
        ::-webkit-input-placeholder { text-align:right; }
    </style>
</head>
<body>
{% embed 'header.twig' %}
{% endembed %}
{% if errors['incorrect_combination'] == true %}
    <div dir="rtl" class="alert alert-danger" role="alert">
        ایمیل یا رمز عبور اشتباه است!
    </div>
{% endif %}

<div class="login-form">
    {{ form_start(form) }}
        <h2 class="text-center">ورود</h2>
        <div class="form-group">
            {{ form_widget(form.email, { 'attr':{'class':'form-control', 'placeholder':'ایمیل'} }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.password, {'attr':{'class':'form-control', 'placeholder':'رمز ورود'} }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.login, {'label':'ورود','attr':{'class':'btn btn-primary btn-block'} }) }}
        </div>
        <a href="/blog/password/forgot" class="pull-right">رمز ورود خود را فراموش کرده‌اید؟</a>
    {{ form_end(form) }}
    <p class="text-center"><a href="/blog/register">حساب کاربری ندارید؟ اینجا ثبت‌نام کنید</a></p>
</div>
</body>
</html>