<html>
<head>
    <title>ثبت‌نام</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <style type="text/css">
        .register-form {
            width: 340px;
            margin: 50px auto;
        }
        .register-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .register-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {
            font-size: 15px;
            font-weight: bold;
        }
        ::-webkit-input-placeholder { text-align:right; }
    </style>
</head>
<body>

{% embed 'header.twig' %}
{% endembed %}

{% if errors['already_existing']==true %}
    <div dir="rtl" class="alert alert-danger" role="alert">
        این ایمیل قبلا استفاده شده است!
    </div>
{% endif %}

{% if errors['empty']==true %}
    <div dir="rtl" class="alert alert-danger" role="alert">
        ایمیل و رمز عبور حتما باید وارد شوند!
    </div>
{% endif %}

{% if errors['invalid_email']==true %}
    <div dir="rtl" class="alert alert-danger" role="alert">
        لطفا ایمیل معتبری وارد کنید!
    </div>
{% endif %}

<div class="register-form">
    {{ form_start(form) }}
        <h2 class="text-center">ثبت‌نام</h2>
        <div class="form-group">
            {{ form_widget(form.email, { 'attr':{'class':'form-control', 'placeholder':'ایمیل'} }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.password, {'attr':{'class':'form-control', 'placeholder':'رمز ورود'} }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.register, {'label':'ثبت نام','attr':{'class':'btn btn-primary btn-block'} }) }}
        </div>
    {{ form_end(form) }}
    <p class="text-center"><a href="/blog/login/login.php">حساب کاربری دارید؟ از اینجا وارد شوید</a></p>
</div>
</body>
</html>