<html>
<head>
    <title>بازیابی رمز عبور</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <style type="text/css">
        .reset-form {
            width: 340px;
            margin: 50px auto;
        }
        .reset-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .reset-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {
            font-size: 15px;
            font-weight: bold;
        }
        ::-webkit-input-placeholder { text-align:right; }
    </style>
</head>
<body>

{% embed 'header.twig' %}
{% endembed %}

<div class="reset-form">
    {{ form_start(form) }}
        {{ form_widget(form.selector) }}
        {{ form_widget(form.validator) }}
        <div class="form-group">
            {{ form_widget(form.password, {'attr':{'class':'form-control', 'placeholder':'پسورد جدید را وارد کنید'} }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.reset, {'label':'بازیابی','attr':{'class':'btn btn-primary btn-block'} }) }}
        </div>
    {{ form_end(form) }}
</div>

</body>
</html>
